:root
  font-family Arial, sans-serif
  font-optical-sizing auto
  font-feature-settings 'liga' 1, 'calt' 1
  font-size 16px
  line-height normal
  font-weight 400
  font-synthesis none
  text-rendering optimizeLegibility
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  -webkit-text-size-adjust 100%
  color black
  background-color hsl(0, 0%, 98%)

@media (prefers-reduced-motion: no-preference)
  html
    scroll-behavior smooth

html,
body,
#root
  display flex
  flex-direction column
  justify-content center
  align-items center
  width 100%
  height 100%

*
  margin 0
  padding 0
  box-sizing border-box

*:focus
  outline none

body
  display flex
  flex-direction column
  align-items center
  justify-content center
  height 100vh

h1
  color hsl(30, 50%, 70%)
  font-family Times
  font-size 3rem

.controls
  margin-top 20px

.controls div
  margin 10px

.valves
  display flex
  margin-top 20px

.valve
  width 50px
  height 50px
  border-radius 50%
  background radial-gradient(circle, hsl(30, 30%, 45%), hsl(30, 50%, 70%))
  margin 0 10px
  transition transform 0.1s ease
  box-shadow 0px 3px 6px hsla(0, 0%, 0%, 0.1)

.valve.pressed
  transform translateY(20px)
  background hsl(180, 45%, 70%)
